<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="index.css">
    <link href="bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    

      <section id="about">
        <div class="container text-center vertical-align">
                    <h2>More than just a website</h2>
                    <h4>Build Your Brand Get New Business  Manage Clients  Do It Yourself.</h4>
                    <button class="button btn btn-success v-pixpa-blue get-started"  onclick="ga('send', 'event', 'Above the fold CTA', 'Get Started', '/');">Get Started</button>
                    <div class="get-started-tab">
                      <p> 15 days free trial. No Credit Card required. </p>
          </div>
          </div>
          </div>


      </div>
        </div>
      </section>


      <section id="contact">
        <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12 contact-form">
            <h2>Get in Touch</h2>
            <h3>Please fill out the quick form and we will be in touch with lightning speed.</h3>
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-12" >
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                </div>
                 <div class="col-md-6 col-sm-12" >
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
                
                 <div class="col-md-12 col-sm-12" >
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea class="form-control" placeholder="write your message here" ></textarea>
              </div>
              <button type="submit" class="btn btn-success">Send</button>
            </form>
            

          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 contact-form">
             <h3>Connect with us:</h3>
                      <p>For support or any questions:
                        <br>Email us at <a href="mailto:support@flickearn.com" target="_blank">support@flickearn.com</a>
                      </p>

          </div>
          </div>
          </div>
      </section>

      <footer id="footer">
       <div>
        <div class="container  text-center footer-menu">
              
              <ul>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
                <li><a href="TermsOfUse.html">Terms of Use</a></li>
              </ul>
          </div>

           <div class="subscribe-wrapper footer-subscribe">
              <h3>Subscribe</h3>
              <p>Subscribe to get inspiration and tips to grow your creative business.</p>
              <div class="subscribe-form">
                  <input type="hidden" id="csrf_token" name="_token" value="JoVlecY7VTwLAf10yg31fMmyQnNygXcs8WX9mDc7">
                  <input type="email" required placeholder="Enter Email to Subscribe" name="email" class="email">
                            <button type="button" value="send" class="button btn btn-success submit-subscription">Submit</button>
                <span class="form-sucess"></span>
              </div>
          </div>
        </div>

        <div class="container text-center">
         

         <h1 class="logo"><strong>Flick&Earn</strong></h1>
         <ul id="social-media-footer">
           <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
           <li><a href=""><i class="fa fa-github"></i></a></li>
           <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
       </div>

       <div class="copyrights text-center">
         &copy; Copyright 2018
       </div>

      </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>


