<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="index.css">
    <link href="bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    

      <section id="about">
        <div class="container text-center vertical-align">
                    <h2>More than just a website</h2>
                    <h4>Build Your Brand Get New Business  Manage Clients  Do It Yourself.</h4>
                    <button class="button btn btn-success v-pixpa-blue get-started"  onclick="ga('send', 'event', 'Above the fold CTA', 'Get Started', '/');">Get Started</button>
                    <div class="get-started-tab">
                      <p> 15 days free trial. No Credit Card required. </p>
          </div>
          </div>
          </div>


      </div>
        </div>
      </section>


      <section id="contact">
        <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12 contact-form">
              
                   <span>Please read carefully. last updated 6 May, 2018</span>
                </h2>
                <p>Thank you for visiting Pixpa. Privacy is important. This privacy policy applies to www.pixpa.com and includes all websites, products, services, and content offered by Idea Zinc Design Private Limited ("Pixpa") including but not limited to Pixpa (www.pixpa.com). This privacy policy, part of our overall Terms of Service, covers personally identifiable information shared through Pixpa.</p>
                <p>&nbsp;</p>
                <p><strong>WHAT INFORMATION DO WE COLLECT?</strong></p>
                <p>We collect information from you when you register on our site, subscribe to our newsletter or fill out a form.</p>
                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.</p>
                <p>Pixpa services automatically record information when you visit our website or use our products, including the URL, IP address, and the date and time of your request and cookies that may uniquely identify your browser.</p>
                <p>On Pixpa, Google and other third party vendors, use cookies to serve ads on your site. These third party vendors use DART cookie to enable them to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>
                <p>&nbsp;</p>
                <p><strong>WHAT DO WE USE YOUR INFORMATION FOR?</strong></p>
                <p>Any of the information we collect from you may be used in one of the following ways:</p>
                <p>To personalize your experience
                    <br>(your information helps us to better respond to your individual needs)</p>
                <p>To improve our website
                    <br>(we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>
                <p>To improve customer service
                    <br>(your information helps us to more effectively respond to your customer service requests and support needs)</p>
                <p>To process transactions
                    <br>(your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>
                <p>To administer a contest, promotion, survey or other site feature</p>
                <p>To send periodic emails
                    <br>The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.</p>
                <p>Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</p>
                <p>&nbsp;</p>
                <p><strong>HOW DO WE PROTECT YOUR INFORMATION?</strong></p>
                <p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>
                <p>We use a third party service (Chargify) to take payments. Chargify uses secure servers and all supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.</p>
                <p>After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.</p>
                <p>&nbsp;</p>
                <p><strong>DO WE USE COOKIES?</strong></p>
                <p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>
                <p>We use cookies to help us remember and process the items in your shopping cart, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>
                <p>&nbsp;</p>
                <p><strong>DO WE DISCLOSE ANY INFORMATION TO OUTSIDE PARTIES?</strong></p>
                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

                <p>&nbsp;</p>
                <p><strong>THIRD PARTY LINKS</strong></p>
                <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
                <p>&nbsp;</p>
                <p><strong>CALIFORNIA ONLINE PRIVACY PROTECTION ACT COMPLIANCE</strong></p>
                <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
                <p>As part of the California Online Privacy Protection Act, all users of our service / site may make any changes to their information at anytime by logging into their control panel and going to the 'My Account' page.</p>
                <p>&nbsp;</p>
                <p><strong>CHILDRENS ONLINE PRIVACY PROTECTION ACT COMPLIANCE</strong></p>
                <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>
                <p>&nbsp;</p>
                <p><strong>ONLINE PRIVACY POLICY ONLY</strong></p>
                <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>

                <p>&nbsp;</p>
                <p><strong>TERMS AND CONDITIONS</strong></p>
                <p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at <a href="http://www.pixpa.com/terms-of-use">http://www.pixpa.com/terms-of-use</a></p>
                <p>&nbsp;</p>
                <p><strong>YOUR CONSENT</strong></p>
                <p>By using our site, you consent to our privacy policy.</p>
                <p>&nbsp;</p>
                <p><strong>CHANGES TO OUR PRIVACY POLICY</strong></p>
                <p>If we decide to change our privacy policy, we will post those changes on this page.</p>
                <p>This policy was last modified on May 6, 2018</p>
            

          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 contact-form">
             <h3>Connect with us:</h3>
                      <p>For support or any questions:
                        <br>Email us at <a href="mailto:support@flickearn.com" target="_blank">support@flickearn.com</a>
                      </p>

          </div>
          </div>
          </div>
      </section>

    <footer id="footer">
       <div>
        <div class="container  text-center footer-menu">
              
              <ul>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
                <li><a href="TermsOfUse.html">Terms of Use</a></li>
              </ul>
          </div>

           <div class="subscribe-wrapper footer-subscribe">
              <h3>Subscribe</h3>
              <p>Subscribe to get inspiration and tips to grow your creative business.</p>
              <div class="subscribe-form">
                  <input type="hidden" id="csrf_token" name="_token" value="JoVlecY7VTwLAf10yg31fMmyQnNygXcs8WX9mDc7">
                  <input type="email" required placeholder="Enter Email to Subscribe" name="email" class="email">
                            <button type="button" value="send" class="button btn btn-success submit-subscription">Submit</button>
                <span class="form-sucess"></span>
              </div>
          </div>
        </div>

        <div class="container text-center">
         

         <h1 class="logo"><strong>Flick&Earn</strong></h1>
         <ul id="social-media-footer">
           <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
           <li><a href=""><i class="fa fa-github"></i></a></li>
           <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
       </div>

       <div class="copyrights text-center">
         &copy; Copyright 2018
       </div>

      </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>


